<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.or.myhome.sample.SampleAidlTest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SampleAidlTest</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />

<!--
    <allow-navigation href="https://【Webコンテンツを配置したホスト名】/cordova_base/*" />
    <platform name="android">
      <content src="https:// 【Webコンテンツを配置したホスト名】/cordova_base/android/index.html" />
    </platform>
-->
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
